body {
    margin-top: 50px;
    background-image: url("./imagenFondo/fondo.jpg");
}

.tarea {
    border: 1px solid gray;
    padding: 10px;
    position: relative;
    width: 60%;
    margin: 2px auto;
    font-size: 1.5em;
}

.papelera {
    position: relative;
    top: 10px;
    right: 5px;
    color: #a392fb;
}

.papelera:hover {
    color: #7d64fc;
    cursor: pointer;
}

.editar {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    top: 5px;
    right: 5px;
    color: #a392fb;
}

.editar:hover {
    color: #7d64fc;
    cursor: pointer;
}

.tick {
    position: relative;
    top: 10px;
    right: 5px;
    color: #a392fb;
}

.tick:hover {
    color: #7d64fc;
    cursor: pointer;
}



#botonNuevaTarea {

    border: 1px solid gray;
    padding: 10px;
    position: relative;
    width: 100%;
    margin: 10px auto;
    cursor: pointer;
    background-color: #7d64fc;
}

#preloaderInsertar {
    height: 60px;
    vertical-align: middle;
    visibility: hidden;
}

.preloaderBorrar {
    position: absolute;
    top: 5px;
    right: 2px;
    height: 30px;
    visibility: hidden;
}

.btnLogin {
    background-color: #a392fb;
    border: 1px solid gray;
}

.btnLogin:hover {
    background-color: #7d64fc;
    border: 1px solid gray;
}

.btnRegistro {
    color: #a392fb;
    background-color: transparent;
    border: none;

}

.btnRegistro:hover {
    color: #7d64fc;
    background-color: transparent;
    border: none;

}

.btnRegistrarse {
    background-color: #a392fb;
    border: 1px solid gray;
}

.btnRegistrarse:hover {
    background-color: #7d64fc;
    border: 1px solid gray;
}

#imagenT {
    vertical-align: middle;
    border-radius: -2px;
    width: 115px;
    border: 1px solid #c1c1c1;
    margin-left: -131px;
    min-width: 78px;

}

.card-body {
    display: flex
}

p {
    display: inline-block;
    margin-left: 40px;
}

#btnCerrarSesion {
    justify-content: end;
    display: flex;
    color: #a392fb;
    background-color: transparent;
    border: none;
}

#btnCerrarSesion:hover {
    color: #7d64fc;
    background-color: transparent;
    border: none;
}

#validaciones {
    color: red;
}

#mensajeBienvenida {
    display: flex;
    justify-content: end;
}

.papeleraImg {
    color: #a392fb;
    display: flex;
    justify-content: end;
}

.papeleraImg:hover {
    color: #7d64fc;
    cursor: pointer;
}

#volver {
    color: #a392fb;
    display: flex;
    justify-content: end;
}

#volver:hover {
    color: #7d64fc;
    cursor: pointer;
}
.pencil{
    color: #a392fb;
    margin-right: 20px;
    
}
.pencil:hover {
    color: #7d64fc;
    cursor: pointer;
}
.botones{
    display: flex;
    justify-content: end;
}
.login-validaciones{
    color: red;
}
